.Luft_til_luft_varmepumper {
    background-color: #10307C;

}

.hw {
    color: white;
}

.pw {
    color: white;
}

h1 {
    font-family: Linden hill;
    font-size: 48px;
}

p {
    font-family: Lato light;
    font-size: 20px;
}
.img_pump {
    border-radius: 80%;
    height: 422px;
    width: 440px;
}