.Luft.til.luft.varmepumper {
    background-color: #10307C;
    color: white;
}

    h1 {
        color: white; 
}

img {
    border-radius: 50%;
     width: 440px;
     height: 442px;
}

.button {
    background-color: #EEEABC;
    color: black;
    border-radius: 40%;
    width: 186px;
    height: 67px;
}