.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 60px;
    gap: 80px;
    position: relative;
    overflow: hidden;
}

.Luft_til_luft_varmepumper {
    background-color: #10307C;

}

.hw {
    color: white;
}

.pw {
    color: white;
}

h1 {
    font-family: Linden hill;
    font-size: 48px;
}

p {
    font-family: Lato light;
    font-size: 20px;
}
.img_pump {
    flex-direction: 0 0 350px;
    border-radius: 50%;
    height: 350px;
    overflow: hidden;
    margin-right: 60px;
}