.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40;
    gap: 40px;
}

.Luft_til_luft_varmepumper {
    background-color: #10307C;

}

.hw {
    color: white;
}

.pw {
    color: white;
}

h1 {
    font-family: Linden hill;
    font-size: 46px;
}

p {
    font-family: Lato light;
    font-size: 20px;
}

.img_pump {
    flex-direction: 0 0 350px;
    border-radius: 50%;
    height: 350px;
    overflow: hidden;
    margin-right: 60px;
}

.button1 {
display: inline-block;
background: #ffe6b3;
padding: 18px 40px;
border-radius: 45px;
font-size: 20px;
margin-top: 20px;
transition: 0.25s;
}