.section_varmepumpe {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    background-color: #10307C;
}

.Text_box {

     line-height: 1.5;

}

.hw {
    color: white;
    margin-bottom: 20px;
}

.pw {
    color: white;
}

h1 {
    font-family: Linden hill;
    font-size: 46px;
}

p {
    font-family: Lato light;
    font-size: 20px;
}

.image_box {
width: 100%;
max-width: 400px;
object-fit: cover;
vertical-align: middle;
}

.button1 {
display: inline-block;
background: #ffe6b3;
padding: 18px 40px;
border-radius: 45px;
font-size: 20px;
margin-top: 20px;
transition: 0.25s;
}