.section_varmepumpe {
    display: flex;
    align-items: center;
    padding: 40;
    gap: 40px;
    background-color: #10307C;
}

.Text_box {
    background-color: #10307C;
     line-height: 1.5;
      max-width: 500px;

}

.hw {
    color: white;
    margin-bottom: 20px;
}

.pw {
    color: white;
}

h1 {
    font-family: Linden hill;
    font-size: 46px;
}

p {
    font-family: Lato light;
    font-size: 20px;
}

.image_box {
width: 350px;
  height: 350px;
  overflow: hidden;      
  border-radius: 50%;
}

.img_pump {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button1 {
display: inline-block;
background: #ffe6b3;
padding: 18px 40px;
border-radius: 45px;
font-size: 20px;
margin-top: 20px;
transition: 0.25s;
}