.Luft_til_luft_varmepumper {
    background-color: #10307C;
    color: white;
    float: right;
}

    h1 {
        color: white; 
}

.img_pump {
    border-radius:50%;
    height:442px;
    width:440px;
    float: left;
    
}

.button {
    background-color: #EEEABC;
    color: black;
    border-radius:40%;
    height:67px;
    width:186px;
    align-content: center;
    
}