.Luft.til.luft.varmepumper {
    background-color: #10307C;
    color: white;
}

    h1 {
        color: white; 
}

img {
    border-radius:50%;
    height:442px;
    width:440px;
    display: flex;
}

.button {
    background-color: #EEEABC;
    color: black;
    border-radius:40%;
    height:67px;
    width:186px;
    align-content: center;
    
}